@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.Top{

    width: 100%;
    height: 16vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 6.2%;
}
.Top button{
    width: 20%;
    height: 50%;
}
.btnn.species{
    background-color: rgb(255, 132, 0);
    margin-right: 5px;
    border: none;
    padding-left: 3%;
    font-size: medium;
}
.AddAccount{
    border:0.5px solid rgba(0, 0, 0, 0.399);
    border-radius: 5px;
    font-size: medium;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.414);
    transition: 0.2s;
}
.AddAccount:hover{
    color: rgba(0, 98, 255, 0.844);
    border-color: rgba(0, 98, 255, 0.809);
}
.Bottom{
    background-color: rgba(219, 216, 216, 0.351);
    width: 100%;
    height:90vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.select{
    width: 15vw;
    padding-left: 5%;
    padding: 4%;
    border: none;
    outline: none;
    margin: 3vh 0 ;
}
.bigDash{
    
    width: 100%;
    height: 70%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;

}
.bigDash div{
   
    width: 40vw;
    height: 60%;
    margin-left: 6%;
    margin-right: 2.5%;
}
.dashboard{
    background-color:white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    
}
.dashboard h2{
    font-size: medium;
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.191);
}
.dashboard1{
    background-color:white;
    border-radius: 10px;
}
.dashboard1 h2{
    font-size: medium;
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.191);
}
.DAY{
    color: rgba(0, 0, 0, 0.448);
    margin-bottom: 3px;
}
.devise{
    font-weight: bold;
    font-size: larger;
}
.dashboard2{
    background-color: white;
    border-radius: 10px;
}
.dashboard2 h2{
    font-size: medium;
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.191);
}