*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}
.main{
    background-color: rgba(128, 128, 128, 0.104);
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    justify-content: space-around;
    padding-inline: 3rem;
    
}
.account{
    width: 22vw;
    height: 80%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    align-items: start;
    /* padding-left: 1%; */
    background-color: rgb(251, 249, 249);
}
.species{
    background-color:white;
    width: 89%;
    height: 10%;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.account h3{
font-size: 27px;
font-weight: 200px;
margin-top: 20px;
margin-bottom: 30px;
}
.account p{
    margin-bottom: 2%;
}
.account button{
    width: 90%;
    height: 5vh;
    background-color: rgb(107 152 179);
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: azure;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    border-color: transparent;
    border-radius: 15px;
    margin-bottom: 10%;
}
.account input{
    width: 90%;
    height: 5vh;
    border-radius: 5px;
    border: none;
    padding-left: 5%;
    font-size: 15px;
    margin-bottom: 13%;
    outline: none;


}
.account select{
    width: 90%;
    padding-left: 5%;
    height: 5vh;
    color: rgba(0, 0, 0, 0.508);
    font-size: 15px;
    border: 0.5px rgba(0, 0, 0, 0.168) solid;
    outline: none;
}
.symbol{
    width: 24%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.argent{
  
    width: 30%;
    height: 70%;
    background: url(../../Picture/Money-golden-coins-bunch-of-golden-coins-spending-money-dollar_127485_wh860-removebg-preview.png);
    background-size: cover;
    background-position: center;
   
}
.spc{
    color:rgba(0, 0, 0, 0.182);
}
.value{
    margin-right: 5%;
}
.close{
    z-index: 1;
    position: absolute;
    right: 28rem;
    top: 9rem;
    cursor: pointer;
}
.accountList{
    display: flex;
    width: 71vw;
    flex-direction: column;
}
.allAccounts{
    width: 63vw;
}
.accountCont{
    width: 93%;
    display: flex;
    background: #fff;
    border-radius: 5px;
    padding-block: 1rem;
    padding-inline: 2rem;
    justify-content: space-between;
    margin-top: 10px;
}
.accountBalance{

}