*{
    margin: 0;
    padding: 0;
}
.settigns{
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 3px;
}
.can{
    font-size: smaller;
    color: rgba(0, 0, 0, 0.439);
    margin-bottom: 30px;
}
.all{
    background-color: rgb(244, 243, 243);
    padding-left: 5%;
    padding-top: 2%;
    width: 100%;
    height: 100%;
}
.changeInfo{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    height: 50%;
    
}
.left{
    background-color: white;
    width: 30%;
    padding-top: 3%;
    padding-left: 2%;
}
.left div{
    font-size:14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.84);
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;

}
.right{
    background-color: white;
    width: 69.7%;
    padding-top: 2%;
    padding-left: 2%;
   
}
.right h2{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
.inform h4{
 font-size: x-small;
 font-weight: 600;
 color: rgba(0, 0, 0, 0.777);
 margin-bottom: 6px;
 margin-top: 5px;
}
.info{
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto; 
    grid-gap: 10px;
    width: 97%;

}
input{
    width: 100%;
    border-radius: 2px;
    height: 70%;
    outline: none;
    padding-left: 10px;
    border: 2px solid rgba(0, 0, 0, 0.425);
}
.btn{
    margin-top: 10%;
    border: 1px solid black;
    width: 20%;
    height: 12%;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-left: 2px;

}